.DS_Store
.serverless
__pycache__
*.pyc
services/ingestion/holdings/env/*
*.zip
*.Python
.vscode/
*venv/
*.venv/
*.tox/
*.idea/
*.local_helpers/


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/
*.orig
pip-wheel-metadata/

# Serverless directories
.serverless

# Testing
.coverage
*.pytest_cache/
coverage.xml
unit.xml
integration.xml

# Coverage Reporting
htmlcov/

# Deployment
dependencies/
requirements.txt
samconfig.toml
tags.properties
