[run]
branch = False
include =
        ./*
omit =
        tests/*
        tests_setup/*
        .venv/*
        .tox/*
        handlers.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING: